* {
    box-sizing: border-box;
}

html {
    cursor: url('./cursor.png'), default;
}

body {
    background-image: url('./background.png');
    padding: 0;
    margin: 0;
    cursor: url('./cursor.png'), default;
}

.progress-worm {
    width: 5%;
    overflow: hidden;
    transition: width 0.5s linear;
}

.worm {
    width: 98vw;
    height: 5rem;
    display: block;
}

.hole-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hole-container {
    display: flex;
    justify-content: center;
    margin: 0 3rem 0 3rem;
    width: 13rem;
    background-color: black;
    border-radius: 60%;
}

.mole {
    height: 13rem;
}

.hungry {
    content: url('./mole-hungry.png');
    cursor: url('./cursor-worm.png'), default;
}

.fed {
    content: url('./mole-fed.png');
}

.sad {
    content: url('./mole-sad.png');
}

.leaving {
    content: url('./mole-leaving.png');
}

.gone {
    content: url('');
}

.king-hungry {
    content: url('./king-mole-hungry.png');
    cursor: url('./cursor-worm.png'), default;
}

.king-fed {
    content: url('./king-mole-fed.png');
}

.king-sad {
    content: url('./king-mole-sad.png');
}

.king-leaving {
    content: url('./king-mole-leaving.png');
}

.gone {
    content: url('');
}