* {
    box-sizing: border-box;
}

html {
    cursor: url('./cursor.png'), default;
}

body {
    background-image: url('./background.png');
    padding: 0;
    margin: 0;
    cursor: url('./cursor.png'), default;
}

.progress-worm {
    width: 5%;
    overflow: hidden;
    transition: width 0.5s linear;
    margin-bottom: 4rem;
}

.worm {
    width: 98vw;
    height: 5rem;
    display: block;
}

.hole-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.hole-container {
    display: flex;
    justify-content: center;
    margin: 0 3rem 0 3rem;
    width: 13rem;
    background-color: black;
    border-radius: 60%;
}

.mole {
    height: 13rem;
}

.hungry {
    content: url('./mole-hungry.png');
    cursor: url('./cursor-worm.png'), default;
}

.fed {
    content: url('./mole-fed.png');
}

.sad {
    content: url('./mole-sad.png');
}

.leaving {
    content: url('./mole-leaving.png');
}

.king-hungry {
    content: url('./king-mole-hungry.png');
    cursor: url('./cursor-worm.png'), default;
}

.king-fed {
    content: url('./king-mole-fed.png');
}

.king-sad {
    content: url('./king-mole-sad.png');
}

.king-leaving {
    content: url('./king-mole-leaving.png');
}

.gone {
    opacity: 0;
}

@media screen and (max-width: 1300px) {
    .hole-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hole-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2rem 1rem 2rem;
        height: 11rem;
        width: 11rem;
        background-color: black;
        border-radius: 60%;
    }

    .mole {
        height: 11rem;
    }
}

@media screen and (max-width: 1000px) {
    .hole-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hole-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 1rem 1rem;
        height: 10rem;
        width: 10rem;
        background-color: black;
        border-radius: 60%;
    }

    .mole {
        height: 10rem;
    }
}

@media screen and (max-width: 800px) {
    .progress-worm {
        width: 5%;
        overflow: hidden;
        transition: width 0.5s linear;
        margin-bottom: 2rem;
    }

    .worm {
        width: 98vw;
        height: 4rem;
        display: block;
    }

    .small-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hole-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hole-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 1rem 1rem;
        height: 8rem;
        width: 8rem;
        background-color: black;
        border-radius: 60%;
    }

    .mole {
        height: 8rem;
    }
}

@media screen and (max-width: 660px) {
    .progress-worm {
        width: 5%;
        overflow: hidden;
        transition: width 0.5s linear;
        margin-bottom: -1.5rem;
    }

    .worm {
        width: 98vw;
        height: 4rem;
        display: block;
    }

    .small-screen {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .hole-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 7rem;
    }

    .hole-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 1rem 0;
        height: 7rem;
        width: 7rem;
        background-color: black;
        border-radius: 60%;
    }

    .mole {
        height: 7rem;
    }
}

@media screen and (max-width: 430px) {
    .progress-worm {
        width: 5%;
        overflow: hidden;
        transition: width 0.5s linear;
        margin-bottom: -0.7rem;
    }

    .worm {
        width: 98vw;
        height: 3rem;
        display: block;
    }

    .small-screen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hole-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 7rem;
    }

    .hole-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 1rem 0;
        height: 6rem;
        width: 6rem;
        background-color: black;
        border-radius: 60%;
    }

    .mole {
        height: 6rem;
    }
}